
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#dt_msrn {
	font: 80%/1.45em "Lucida Grande";
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


#dt_msrn #container {
	width: 900px;
	margin: 20px auto;
	padding: 0;
}


#dt_msrn label{
	cursor: pointer
}



#dt_msrn .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}


#dt_msrn a:hover {
	text-decoration: underline;
}

